/* 전체 */
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MENU */
.menu {
  height: 56px;
  flex-shrink: 0;
}

/* FOOTER */
.footer {
  height: 40px;
  flex-shrink: 0;
}

/* 본문 전체 */
.content {
  flex: 1;              /* 남은 높이 전부 */
  display: flex;
  flex-direction: column;
  min-height: 0;        /* ★ 중요 */
}

/* TOP 영역 */
.top {
  /*height: 120px;        !* 고정 높이 *!*/
  flex: 1;
  flex-shrink: 0;
}

.middle {
  flex: 1;
  display: flex;
}

/* LEFT */
.left {
  flex: 1;        /* ⭐ */
}

/* RIGHT */
.right {
  flex: 1;        /* ⭐ */
}